<div class="flex justify-center w-full mt-10">
    <div class="bg-white p-8 rounded shadow-md w-6/12 sm:w-96">
      <h2 class="text-2xl font-bold mb-4">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <div class="mb-4">
          <mat-form-field class="w-full">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="New Password" required>
          </mat-form-field>
        </div>
        
        <div class="mb-4">
          <mat-form-field class="w-full">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
          Reset Password
        </button>

        
      </form>
    </div>
  </div>
  